body{
    background:dodgerblue;
   
    text-transform: uppercase;
}

hr{
    border-bottom:none;
}

td{
    font-size: 15px;
    cursor: hand;
    
}

tr{
    cursor: hand;
}

table{
    border-bottom: dodgerblue;
}

.img{
    position: absolute;
    bottom: 515px;
    right: 790px;
}

.topnav{
    font-size: 12px;
    font-weight: bold;
    color:gray;
  }

  